.spells-main
    .div-inline
        +span({}).spells-roller-head
        +span({'data-i18n':'Name'}).spells-name-head
        +span({'data-i18n':'Level'}).spells-level-head
        +span({'data-i18n':'Magic Type'}).spells-magictype-head
        +span({'data-i18n':'Action Type'}).spells-actiontype-head
        +span({'data-i18n':'Cost'}).spells-cost-head
        +span({'data-i18n':'Cost Resource'}).spells-costtype-head
        +span({'data-i18n':'Range'}).spells-range-head
        +span({'data-i18n':'vs'}).spells-vs-head
        +span({'data-i18n':'Effect'}).spells-effect-head
        +span({'data-i18n':'Amount'}).spells-amount-head
        +span({'data-i18n':'Amount Resource'}).spells-amounttype-head
        +span({'data-i18n':'Duration'}).spells-duration-head
        +span({'data-i18n':'Duration Amount'}).spells-durationamount-head
        +span({'data-i18n':'Duration Type'}).spells-durationtype-head
        +span({'data-i18n':'Condition Type'}).spells-conditiontype-head
        +span({'data-i18n':'Radius'}).spells-radius-head
        +span({'data-i18n':'Radius Type'}).spells-radiustype-head
    +customControlFieldset({name:'spells-main-items',addClass:''})
        .div-inline
            +roller({name:'spells-roller',class:'general-roller spells-roller',trigger:{triggeredFuncs:['funcSpells']}})
            +text({name:'spells-name',class:'spells-name underlined',value:''})
            +number({name:'spells-level',class:'spells-level boxed'})
            +select({name:'spells-magictype',class:'spells-type'})
                each entry,stat in schemaCore.spellresists
                    +option({value:stat,'data-i18n':entry.displayname})
                    each skill in schemaCore.skills[stat].subskillsprime
                        +option({value:skill,'data-i18n':schemaCore.skills[skill].displayname})
                each skill in listMetamagicSkills
                    +option({value:skill,'data-i18n':schemaCore.skills[skill].displayname})
            +select({name:'spells-actiontype',class:'spells-actiontype'})
                +option({value:'Combat','data-i18n':'Combat'})
                +option({value:'Bonus','data-i18n':'Bonus'})
                +option({value:'Move','data-i18n':'Move'})
                +option({value:'Reaction','data-i18n':'Reaction'})
                +option({value:'Free','data-i18n':'Free'})
            +number({name:'spells-cost',class:'spells-cost boxed'})
            +select({name:'spells-costtype',class:'spells-costtype'})
                +option({value:'Mana','data-i18n':'Mana'})
                +option({value:'Stamina','data-i18n':'Stamina'})
                +option({value:'Health','data-i18n':'Health'})
            +select({name:'spells-range',class:'spells-range'})
                +option({value:'Self','data-i18n':'Self'})
                +option({value:'Touch','data-i18n':'Touch'})
                +option({value:'5','data-i18n':'5'})
                +option({value:'10','data-i18n':'10'})
                +option({value:'20','data-i18n':'20'})
                +option({value:'30','data-i18n':'30'})
                +option({value:'40','data-i18n':'40'})
                +option({value:'50','data-i18n':'50'})
                +option({value:'60','data-i18n':'60'})
                +option({value:'100','data-i18n':'100'})
                +option({value:'120','data-i18n':'120'})
                +option({value:'200','data-i18n':'200'})
            +select({name:'spells-vs',class:'spells-vs'})
                +option({value:'Mental','data-i18n':'Mental'})
                +option({value:'Dodge','data-i18n':'Dodge'})
                +option({value:'Armor','data-i18n':'Armor'})
            +select({name:'spells-effect',class:'spells-effect'})
                +option({value:'Heal','data-i18n':'Heal'})
                +option({value:'Damage','data-i18n':'Damage'})
                +option({value:'Condition','data-i18n':'Condition'})
                +option({value:'Other','data-i18n':'Other'})
            +text({name:'spells-amount',class:'spells-amount boxed'})
            +select({name:'spells-amounttype',class:'spells-amounttype'})
                +option({value:'Health','data-i18n':'Health'})
                +option({value:'Stamina','data-i18n':'Stamina'})
                +option({value:'Mana','data-i18n':'Mana'})
                +option({value:'N/A','data-i18n':'N/A'})
            +select({name:'spells-duration',class:'spells-duration',value:''})
                +option({value:'Instant','data-i18n':'Instant'})
                +option({value:'Timed','data-i18n':'Timed'})
                +option({value:'Sustain','data-i18n':'Sustain'})
                +option({value:'Persistant','data-i18n':'Persistant'})
            +text({name:'spells-durationamount',class:'spells-durationamount boxed'})
            +select({name:'spells-durationtype',class:'spells-durationtype',value:''})
                +option({value:'N/A','data-i18n':'N/A'})
                +option({value:'Rounds','data-i18n':'Rounds'})
                +option({value:'Turns','data-i18n':'Turns'})
                +option({value:'Seconds','data-i18n':'Seconds'})
                +option({value:'Minutes','data-i18n':'Minutes'})
                +option({value:'Hours','data-i18n':'Hours'})
                +option({value:'Days','data-i18n':'Days'})
            +select({name:'spells-conditiontype',class:'spells-conditiontype',value:''})
                +option({value:'N/A','data-i18n':'N/A'})
                +option({value:'Befuddled','data-i18n':'Befuddled'})
                +option({value:'Blighted','data-i18n':'Blighted'})
                +option({value:'Blinded','data-i18n':'Blinded'})
                +option({value:'Charmed','data-i18n':'Charmed'})
                +option({value:'Deafened','data-i18n':'Deafened'})
                +option({value:'Enthralled','data-i18n':'Enthralled'})
                +option({value:'Frightened','data-i18n':'Frightened'})
                +option({value:'Incapacitated','data-i18n':'Incapacitated'})
                +option({value:'Nauseous','data-i18n':'Nauseous'})
                +option({value:'Paralyzed','data-i18n':'Paralyzed'})
                +option({value:'Prone','data-i18n':'Prone'})
                +option({value:'Slowed','data-i18n':'Slowed'})
                +option({value:'Unconcious','data-i18n':'Unconcious'})
                +option({value:'Cover','data-i18n':'Cover'})
                +option({value:'Grappled','data-i18n':'Grappled'})
            +text({name:'spells-radius',class:'spells-radius boxed'})
            +select({name:'spells-radiustype',class:'spells-radiustype',value:''})
                +option({value:'N/A','data-i18n':'N/A'})
                +option({value:'Line','data-i18n':'Line'})
                +option({value:'Cone','data-i18n':'Cone'})
                +option({value:'Column','data-i18n':'Column'})
                +option({value:'Dome','data-i18n':'Dome'})
                +option({value:'Sphere','data-i18n':'Sphere'})
        .div
            .collapse-container
                +collapse('spells-desc-collapse')
                +span({'data-i18n':'Show Details'})
                .expanded
                .collapsed
                    .div-spells-details
                        +span({'data-i18n':'Caster Says'}).spells-desc-head
                        +adaptiveTextarea({name:'spells-desc',class:'spells-spelleffect boxed'})
                        +span({'data-i18n':'Spell Description'}).spells-spelleffect-head
                        +adaptiveTextarea({name:'spells-spelleffect',class:'spells-spelleffect boxed'})
                        .spells-effects-section
                            +span({'data-i18n':'Effects'}).spells-effects-head
                            +button({name:'spells-effects-apply',type:'action',class:'spells-effects-apply','data-i18n':'Apply',trigger:{triggeredFuncs:['doEffectsApply']}})
                            +button({name:'spells-effects-remove',type:'action',class:'spells-effects-remove','data-i18n':'Remove',trigger:{triggeredFuncs:['doEffectsRemove']}})
                            +adaptiveTextarea({name:'spells-effects',class:'spells-effects boxed'})
                        +span({'data-i18n':'Power Card'}).spells-powercard-head
                        +adaptiveTextarea({name:'spells-powercard',class:'spells-powercard boxed'})
+module.
    const doEffectsApply = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const theEffects = attributes[sectionName+'_'+rowID+'_spells-effects'];

        ApplyEffects(attributes,theEffects,1);
    };
    k.registerFuncs({doEffectsApply});

    const doEffectsRemove = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const theEffects = attributes[sectionName+'_'+rowID+'_spells-effects'];

        ApplyEffects(attributes,theEffects,-1);
    };
    k.registerFuncs({doEffectsRemove});
+scss('sheet').
    .spells-main{

        .spells-roller-head,
        .spells-roller {
            width: 26px;
        }
        .spells-name-head,
        .spells-name{
            width: 140px;
        }
        .spells-level-head,
        .spells-level{
            width: 30px;
        }
        .spells-magictype-head,
        .spells-magictype{
            width: 80px;
        }
        .spells-actiontype-head,
        .spells-actiontype{
            width: 60px;
        }
        .spells-cost-head,
        .spells-cost{
            width: 40px;
        }
        .spells-costtype-head,
        .spells-costtype{
            width: 60px;
        }
        .spells-range-head,
        .spells-range{
            width: 45px;
            text-align: center;
        }
        .spells-vs-head,
        .spells-vs{
            width: 45px;
            text-align: center;
        }
        .spells-effect-head,
        .spells-effect{
            width: 70px;
            text-align: center;
        }
        .spells-amount-head,
        .spells-amount{
            width: 50px;
            text-align: center;
        }
        .spells-amounttype-head,
        .spells-amounttype{
            width: 60px;
            text-align: center;
        }
        .spells-duration-head,
        .spells-duration{
            width: 65px;
            text-align: center;
        }
        .spells-durationamount-head,
        .spells-durationamount{
            width: 50px;
            text-align: center;
        }
        .spells-durationtype-head,
        .spells-durationtype{
            width: 60px;
            text-align: center;
        }
        .spells-conditiontype-head,
        .spells-conditiontype{
            width: 80px;
            text-align: center;
        }
        .spells-radius-head,
        .spells-radius{
            width: 45px;
            text-align: center;
        }
        .spells-radiustype-head,
        .spells-radiustype{
            width: 50px;
            text-align: center;
        }

        .spells-roller-head,
        .spells-name-head,
        .spells-level-head,
        .spells-magictype-head,
        .spells-actiontype-head,
        .spells-cost-head,
        .spells-costtype-head,
        .spells-range-head,
        .spells-vs-head,
        .spells-effect-head,
        .spells-amount-head,
        .spells-amounttype-head,
        .spells-duration-head,
        .spells-durationamount-head,
        .spells-durationtype-head,
        .spells-conditiontype-head,
        .spells-radius-head,
        .spells-radiustype-head {
            text-align: center;
            background-color: lightskyblue;
            font-weight: bold;
        }

        .div-spells-details {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas : 
                'desc-head'
                'desc'
                'spelleffect-head'
                'spelleffect'
                'effects-section'
                'powercard-head'
                'powercard'
            ;
            border: 1px solid var(--borderColor);
            .spells-desc-head {
                grid-area: desc-head;
                background-color: lightgray;
            }
            .spells-desc {
                grid-area: desc;
            }
            .spells-spelleffect-head {
                grid-area: spelleffect-head;
                background-color: lightgray;
            }
            .spells-spelleffect {
                grid-area: spelleffect;
            }
            .spells-effects-section {
                grid-area: effects-section;

                .spells-effects-head {
                    grid-area: effects-head;
                    background-color: lightgray;
                }
                .spells-effects-apply {
                    grid-area: apply;
                    @include k.base-button;
                    background-color: lightskyblue;
                }
                .spells-effects-remove {
                    grid-area: remove;
                    @include k.base-button;
                    background-color: lightskyblue;
                }
                .spells-effects {
                    grid-area: effects;
                }
            }
            .spells-powercard-head {
                grid-area: powercard-head;
                background-color: lightgray;
            }
            .spells-powercard {
                grid-area: powercard;
            }
        }
    } 
