.attacks-main
    .div-inline
        +span({}).attacks-roller-head
        +span({'data-i18n':'Name'}).attacks-name-head
        +span({'data-i18n':'Action Type'}).attacks-actiontype-head
        +span({'data-i18n':'Attack Category'}).attacks-attackcat-head
        +span({'data-i18n':'Weapon Type'}).attacks-weapontype-head
        +span({'data-i18n':'Attack Type'}).attacks-attacktype-head
        +span({'data-i18n':'vs'}).attacks-vs-head
        +span({'data-i18n':'Range'}).attacks-range-head
        +span({'data-i18n':'Damage'}).attacks-damage-head
        +span({'data-i18n':'Damage Stat'}).attacks-damagestat-head
        +span({'data-i18n':'AV Bonus'}).attacks-avbonus-head
        +span({'data-i18n':'ACC Bonus'}).attacks-accbonus-head
        +span({'data-i18n':'Damage Bonus'}).attacks-damagebonus-head
    .div
        .div-inline
            +span({}).attacks-roller-head
            +span({'data-i18n':'Crit Mult'}).attacks-critmult-head
            +span({'data-i18n':'Crit Bonus'}).attacks-critbonus-head
            +span({'data-i18n':'Crit Dam Bonus'}).attacks-critdamagebonus-head
            +span({'data-i18n':'Damage Type'}).attacks-damagetype-head
            +span({'data-i18n':'Damage Class'}).attacks-damageclass-head
    +customControlFieldset({name:'attacks-main-items',addClass:''})
        .div-inline
            +roller({name:'attacks-roller',class:'general-roller attacks-roller',trigger:{triggeredFuncs:['funcCore']}})
            +text({name:'attacks-name',class:'attacks-name underlined',value:''})
            +select({name:'attacks-actiontype',class:'attacks-actiontype'})
                +option({value:0,'data-i18n':'Combat'})
                +option({value:1,'data-i18n':'Bonus'})
                +option({value:2,'data-i18n':'Move'})
                +option({value:3,'data-i18n':'Reaction'})
                +option({value:4,'data-i18n':'Free'})
            +select({name:'attacks-attackcat',class:'attacks-attackcat'})
                +option({value:0,'data-i18n':'Melee'})
                +option({value:1,'data-i18n':'Thrown'})
                +option({value:2,'data-i18n':'Range'})
                +option({value:3,'data-i18n':'Spell'})
            +select({name:'attacks-weapontype',class:'attacks-weapontype'})
                +option({value:0,'data-i18n':'Archery'})
                +option({value:1,'data-i18n':'Axes'})
                +option({value:2,'data-i18n':'Crossbows'})
                +option({value:3,'data-i18n':'Hammers'})
                +option({value:4,'data-i18n':'Maces'})
                +option({value:5,'data-i18n':'Small Blades'})
                +option({value:6,'data-i18n':'Spears'})
                +option({value:7,'data-i18n':'Staves'})
                +option({value:8,'data-i18n':'Swords'})
                +option({value:9,'data-i18n':'Shield Bash'})
                +option({value:10,'data-i18n':'Unarmed Combat'})
                +option({value:11,'data-i18n':'Air Magic'})
                +option({value:12,'data-i18n':'Dark Magic'})
                +option({value:13,'data-i18n':'Death Magic'})
                +option({value:14,'data-i18n':'Earch Magic'})
                +option({value:15,'data-i18n':'Fire Magic'})
                +option({value:16,'data-i18n':'Life Magic'})
                +option({value:17,'data-i18n':'Light Magic'})
                +option({value:18,'data-i18n':'Water Magic'})
            +select({name:'attacks-attacktype',class:'attacks-attacktype'})
                +option({value:0,'data-i18n':'Standard Attack'})
                +option({value:1,'data-i18n':'Dual Wield(Main,Non)'})
                +option({value:2,'data-i18n':'Dual Wield(Main,Small)'})
                +option({value:3,'data-i18n':'Dual Wield(Off,Non)'})
                +option({value:4,'data-i18n':'Dual Wield(Off,Small)'})
                +option({value:5,'data-i18n':'Two Handed'})
                +option({value:6,'data-i18n':'Keen Shot'})
                +option({value:7,'data-i18n':'Second Attack'})
                +option({value:8,'data-i18n':'Third Attack'})
                +option({value:9,'data-i18n':'Forth Attack'})
                +option({value:10,'data-i18n':'Fifth Attack'})
            +select({name:'attacks-vs',class:'attacks-vs'})
                +option({value:0,'data-i18n':'Armor'})
                +option({value:0,'data-i18n':'Dodge'})
                +option({value:0,'data-i18n':'Mental'})
            +text({name:'attacks-range',class:'attacks-range boxed'})
            +text({name:'attacks-damaage',class:'attacks-damage boxed'})
            +select({name:'attacks-damagestat',class:'attacks-damagestat'})
                each entry,stat in schemaCore.stats
                    +option({value:stat,'data-i18n':entry.displayname})
            +text({name:'attacks-avbonus',class:'attacks-avbonus boxed'})
            +text({name:'attacks-accbonus',class:'attacks-accbonus boxed'})
            +text({name:'attacks-damagebonus',class:'attacks-damagebonus boxed'})
        .div
            .div-inline
                +span({}).attacks-roller-head
                +text({name:'attacks-critmult',class:'attacks-critmult boxed'})
                +text({name:'attacks-critbonus',class:'attacks-critbonus boxed'})
                +text({name:'attacks-critdamagebonus',class:'attacks-critdamagebonus boxed'})
                +select({name:'attacks-damagetype',class:'attacks-damagetype'})
                    +option({value:0,'data-i18n':'Physical'})
                    each entry,stat in schemaCore.spellresists
                        +option({value:stat,'data-i18n':entry.displayname})
                +select({name:'attacks-damagetype',class:'attacks-damagetype'})
                    +option({value:0,'data-i18n':'None(Basic)'})
                    each entry,stat in schemaCore.resists
                        +option({value:stat,'data-i18n':entry.displayname})
        .div
            .collapse-container
                +collapse('attacks-desc-collapse')
                +span({'data-i18n':'Show Notes'})
                .expanded
                .collapsed
                    .div-attacks-details
                        +span({'data-i18n':'Displayed on Attack'}).attacks-display-head
                        +adaptiveTextarea({name:'attacks-display',class:'attacks-display boxed'})
                        +span({'data-i18n':'Private Notes'}).attacks-private-head
                        +adaptiveTextarea({name:'attacks-private',class:'attacks-private boxed'})
+module.
+scss('sheet').
    .attacks-main{

        .attacks-roller-head,
        .attacks-roller {
            width: 26px;
        }
        .attacks-name-head,
        .attacks-name {
            width: 180px;
        }
        .attacks-actiontype-head,
        .attacks-actiontype {
            width: 60px;
        }
        .attacks-attackcat-head,
        .attacks-attackcat{
            width: 60px;
        }
        .attacks-weapontype-head,
        .attacks-weapontype{
            width: 105px;
        }
        .attacks-attacktype-head,
        .attacks-attacktype{
            width: 135px;
        }
        .attacks-vs-head,
        .attacks-vs {
            width: 70px;
        }
        .attacks-range-head,
        .attacks-range {
            width: 40px;
            text-align: center;
        }
        .attacks-damage-head,
        .attacks-damage {
            width: 60px;
            text-align: center;
        }
        .attacks-damagestat-head,
        .attacks-damagestat {
            width: 80px;
        }
        .attacks-avbonus-head,
        .attacks-avbonus {
            width: 40px;
            text-align: center;
        }
        .attacks-accbonus-head,
        .attacks-accbonus {
            width: 40px;
            text-align: center;
        }
        .attacks-damagebonus-head,
        .attacks-damagebonus {
            width: 60px;
            text-align: center;
        }
        .attacks-critmult-head,
        .attacks-critmult {
            width: 40px;
            text-align: center;
        }
        .attacks-critbonus-head,
        .attacks-critbonus {
            width: 40px;
            text-align: center;
        }
        .attacks-critdamagebonus-head,
        .attacks-critdamagebonus {
            width: 40px;
            text-align: center;
        }
        .attacks-damagetype-head,
        .attacks-damagetype {
            width: 90px;
        }
        .attacks-damageclass-head,
        .attacks-damageclass {
            width: 90px;
        }

        .attacks-name-head,
        .attacks-actiontype-head,
        .attacks-attackcat-head,
        .attacks-weapontype-head,
        .attacks-attacktype-head,
        .attacks-vs-head,
        .attacks-range-head,
        .attacks-damage-head,
        .attacks-damagestat-head,
        .attacks-avbonus-head,
        .attacks-accbonus-head,
        .attacks-damagebonus-head,
        .attacks-critmult-head,
        .attacks-critbonus-head,
        .attacks-critdamagebonus-head,
        .attacks-damagetype-head,
        .attacks-damageclass-head {
            text-align: center;
            background-color: lightskyblue;
            font-weight: bold;
        }

        .div-attacks-details {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas : 
                'display-head'
                'display'
                'private-head'
                'private'
            ;
            border: 1px solid var(--borderColor);
            .attacks-display-head {
                grid-area: display-head;
                background-color: lightgray;
            }
            .attacks-display {
                grid-area: display;
            }
            .attacks-private-head {
                grid-area: private-head;
                background-color: lightgray;
            }
            .attacks-private {
                grid-area: private;
            }
        }
    } 
