.spells-main
    .div-inline
        +span({}).spells-roller-head
        +span({'data-i18n':'Name'}).spells-name-head
        +span({'data-i18n':'Level'}).spells-level-head
        +span({'data-i18n':'Magic Type'}).spells-magictype-head
        +span({'data-i18n':'Subskill'}).spells-subskill-head
        +span({'data-i18n':'Action Type'}).spells-actiontype-head
        +span({'data-i18n':'Cost'}).spells-cost-head
        +span({'data-i18n':'Cost Resource'}).spells-costtype-head
        +span({'data-i18n':'Range'}).spells-range-head
        +span({'data-i18n':'vs'}).spells-vs-head
        +span({'data-i18n':'Effect'}).spells-effect-head
        +span({'data-i18n':'Effect Amount'}).spells-amount-head
        +span({'data-i18n':'Effect Resource'}).spells-amounttype-head
        +span({'data-i18n':'# of Targets'}).spells-numtargets-head
    +customControlFieldset({name:'spells-main-items',addClass:''})
        .div-inline
            +roller({name:'spells-roller',class:'general-roller spells-roller',trigger:{triggeredFuncs:['funcSpells']}})
            +text({name:'spells-name',class:'spells-name underlined',value:''})
            +number({name:'spells-level',class:'spells-level boxed'})
            +select({name:'spells-magictype',class:'spells-magictype'})
                each entry,stat in schemaCore.spellresists
                    +option({value:stat,'data-i18n':entry.displayname})
            +select({name:'spells-subskill',class:'spells-subskill'})
                +option({value:'NA','data-i18n':'N/A'})
                each entry,stat in schemaCore.spellresists
                    each skill in schemaCore.skills[stat].subskillsprime
                        +option({value:skill,'data-i18n':schemaCore.skills[skill].displayname})
                each skill in listMetamagicSkills
                    +option({value:skill,'data-i18n':schemaCore.skills[skill].displayname})
            +select({name:'spells-actiontype',class:'spells-actiontype'})
                +option({value:'Combat','data-i18n':'Combat'})
                +option({value:'Bonus','data-i18n':'Bonus'})
                +option({value:'Move','data-i18n':'Move'})
                +option({value:'Reaction','data-i18n':'Reaction'})
                +option({value:'Free','data-i18n':'Free'})
            +number({name:'spells-cost',class:'spells-cost boxed'})
            +select({name:'spells-costtype',class:'spells-costtype'})
                +option({value:'Mana','data-i18n':'Mana'})
                +option({value:'Stamina','data-i18n':'Stamina'})
                +option({value:'Health','data-i18n':'Health'})
            +select({name:'spells-range',class:'spells-range'})
                +option({value:'Self','data-i18n':'Self'})
                +option({value:'Touch','data-i18n':'Touch'})
                +option({value:'5','data-i18n':'5'})
                +option({value:'10','data-i18n':'10'})
                +option({value:'20','data-i18n':'20'})
                +option({value:'30','data-i18n':'30'})
                +option({value:'40','data-i18n':'40'})
                +option({value:'50','data-i18n':'50'})
                +option({value:'60','data-i18n':'60'})
                +option({value:'100','data-i18n':'100'})
                +option({value:'120','data-i18n':'120'})
                +option({value:'200','data-i18n':'200'})
            +select({name:'spells-vs',class:'spells-vs'})
                +option({value:'Mental','data-i18n':'Mental'})
                +option({value:'Dodge','data-i18n':'Dodge'})
                +option({value:'Armor','data-i18n':'Armor'})
                +option({value:'N/A','data-i18n':'N/A'})
            +select({name:'spells-effect',class:'spells-effect'})
                +option({value:'Heal','data-i18n':'Heal'})
                +option({value:'Damage','data-i18n':'Damage'})
                +option({value:'Condition','data-i18n':'Condition'})
                +option({value:'Other','data-i18n':'Other'})
            +text({name:'spells-amount',class:'spells-amount boxed'})
            +select({name:'spells-amounttype',class:'spells-amounttype'})
                +option({value:'Health','data-i18n':'Health'})
                +option({value:'Stamina','data-i18n':'Stamina'})
                +option({value:'Mana','data-i18n':'Mana'})
                +option({value:'N/A','data-i18n':'N/A'})
            +number({name:'attacks-numtargets',value:'0',class:'attacks-numtargets boxed'})
            +button({name:'spells-showrange',type:'action',class:'spells-showrange','data-i18n':'Show Range',trigger:{triggeredFuncs:['doSpellRange']}})
        .div
            .collapse-container
                +collapse('spells-desc-collapse')
                +span({'data-i18n':'Show Details'})
                .expanded
                .collapsed
                    .div-spells-details
                        .div-duration
                            +select({name:'spells-duration',class:'spells-duration underlined',value:''})
                                +option({value:'Instant','data-i18n':'Instant'})
                                +option({value:'Timed','data-i18n':'Timed'})
                                +option({value:'Sustain','data-i18n':'Sustain'})
                                +option({value:'Persistant','data-i18n':'Persistant'})
                            +span({'data-i18n':'Duration'}).spells-duration-head
                        .div-durationamount
                            +text({name:'spells-durationamount',class:'spells-durationamount boxed'})
                            +span({'data-i18n':'Duration Amount'}).spells-durationamount-head
                        .div-durationtype
                            +select({name:'spells-durationtype',class:'spells-durationtype underlined',value:''})
                                +option({value:'N/A','data-i18n':'N/A'})
                                +option({value:'Rounds','data-i18n':'Rounds'})
                                +option({value:'Turns','data-i18n':'Turns'})
                                +option({value:'Seconds','data-i18n':'Seconds'})
                                +option({value:'Minutes','data-i18n':'Minutes'})
                                +option({value:'Hours','data-i18n':'Hours'})
                                +option({value:'Days','data-i18n':'Days'})
                            +span({'data-i18n':'Duration Type'}).spells-durationtype-head
                        .div-conditiontype
                            +select({name:'spells-conditiontype',class:'spells-conditiontype underlined',value:''})
                                +option({value:'N/A','data-i18n':'N/A'})
                                +option({value:'Befuddled','data-i18n':'Befuddled'})
                                +option({value:'Blighted','data-i18n':'Blighted'})
                                +option({value:'Blinded','data-i18n':'Blinded'})
                                +option({value:'Charmed','data-i18n':'Charmed'})
                                +option({value:'Deafened','data-i18n':'Deafened'})
                                +option({value:'Enthralled','data-i18n':'Enthralled'})
                                +option({value:'Frightened','data-i18n':'Frightened'})
                                +option({value:'Incapacitated','data-i18n':'Incapacitated'})
                                +option({value:'Nauseous','data-i18n':'Nauseous'})
                                +option({value:'Paralyzed','data-i18n':'Paralyzed'})
                                +option({value:'Prone','data-i18n':'Prone'})
                                +option({value:'Slowed','data-i18n':'Slowed'})
                                +option({value:'Unconcious','data-i18n':'Unconcious'})
                                +option({value:'Cover','data-i18n':'Cover'})
                                +option({value:'Grappled','data-i18n':'Grappled'})
                            +span({'data-i18n':'Condition Type'}).spells-conditiontype-head
                        .div-radius
                            +text({name:'spells-radius',class:'spells-radius boxed'})
                            +span({'data-i18n':'Radius'}).spells-radius-head
                        .div-radiustype
                            +select({name:'spells-radiustype',class:'spells-radiustype underlined',value:''})
                                +option({value:'N/A','data-i18n':'N/A'})
                                +option({value:'Line','data-i18n':'Line'})
                                +option({value:'Cone','data-i18n':'Cone'})
                                +option({value:'Column','data-i18n':'Column'})
                                +option({value:'Dome','data-i18n':'Dome'})
                                +option({value:'Sphere','data-i18n':'Sphere'})
                            +span({'data-i18n':'Radius Type'}).spells-radiustype-head
                        .div-accbonus
                            +text({name:'spells-accbonus',value:'0',class:'spells-accbonus boxed'})
                            +span({'data-i18n':'ACC Bonus'}).spells-accbonus-head
                        .div-damagebonus
                            +text({name:'spells-damagebonus',value:'0',class:'spells-damagebonus boxed'})
                            +span({'data-i18n':'Damage Bonus'}).spells-damagebonus-head
                        .div-critabove
                            +text({name:'spells-critabove',value:'0',class:'spells-critabove boxed'})
                            +span({'data-i18n':'Crit Above'}).spells-critabove-head
                        .div-critbonus
                            +text({name:'spells-critbonus',value:'0',class:'spells-critbonus boxed'})
                            +span({'data-i18n':'Crit Bonus'}).spells-critbonus-head
                        .div-critdamagebonus
                            +text({name:'spells-critdamagebonus',value:'0',class:'spells-critdamagebonus boxed'})
                            +span({'data-i18n':'Crit Dam Bonus'}).spells-critdamagebonus-head
                        .div-damagetype
                            +select({name:'spells-damagetype',class:'spells-damagetype underlined'})
                                +option({value:'Physical','data-i18n':'Physical'})
                                each entry,stat in schemaCore.spellresists
                                    +option({value:capitalize(stat),'data-i18n':entry.displayname})
                            +span({'data-i18n':'Damage Type'}).spells-damagetype-head
                        .div-damageclass
                            +select({name:'spells-damageclass',class:'spells-damageclass underlined'})
                                +option({value:'basic','data-i18n':'None(Basic)'})
                                each entry,stat in schemaCore.resists
                                    +option({value:capitalize(stat),'data-i18n':entry.displayname})
                            +span({'data-i18n':'Damage Class'}).spells-damageclass-head
                        .div-desc
                            +span({'data-i18n':'Caster'}).spells-desc-head
                            +adaptiveTextarea({name:'spells-desc',class:'spells-desc boxed'})
                        .div-spelleffect
                            +span({'data-i18n':'Spell Description'}).spells-spelleffect-head
                            +adaptiveTextarea({name:'spells-spelleffect',class:'spells-spelleffect boxed'})
                        .spells-effects-section
                            +span({'data-i18n':'Effects'}).spells-effects-head
                            +button({name:'spells-effects-apply',type:'action',class:'spells-effects-apply','data-i18n':'Apply',trigger:{triggeredFuncs:['doEffectsApply']}})
                            +button({name:'spells-effects-remove',type:'action',class:'spells-effects-remove','data-i18n':'Remove',trigger:{triggeredFuncs:['doEffectsRemove']}})
                            +select({name:'spells-effects-applied',readonly:'',class:'spells-effects-applied',value:0})
                                +option({value:0,'data-i18n':'Not Applied'})
                                +option({value:1,'data-i18n':'Applied'})
                            +adaptiveTextarea({name:'spells-effects',class:'spells-effects boxed'})
                        .div-powercard
                            +span({'data-i18n':'Power Card'}).spells-powercard-head
                            +adaptiveTextarea({name:'spells-powercard',class:'spells-powercard boxed'})
+module.
    const doEffectsApply = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const theEffects = attributes[sectionName+'_'+rowID+'_spells-effects'];

        if (attributes[sectionName+'_'+rowID+'_spells-effects-applied']===0) {
            ApplyEffects(attributes,theEffects,1);
            attributes[sectionName+'_'+rowID+'_spells-effects-applied'] = 1;
        };

    };
    k.registerFuncs({doEffectsApply});

    const doEffectsRemove = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const theEffects = attributes[sectionName+'_'+rowID+'_spells-effects'];

        if (attributes[sectionName+'_'+rowID+'_spells-effects-applied']===1) {
            ApplyEffects(attributes,theEffects,-1);
            attributes[sectionName+'_'+rowID+'_spells-effects-applied'] = 0;
        };
    };
    k.registerFuncs({doEffectsRemove});

    const doSpellRange = async function({trigger,attributes,sections,casc}){
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        let theRange = attributes[sectionName+'_'+rowID+'_spells-range'];
        if (theRange==='Self') {
            theRange = 0;
        } else if (theRange==='Touch') {
            theRange = 5;
        }
        theRange = Math.floor(theRange/5)*5;
        const theAPICall = '!tlrpg --charid '+attributes['header-character-id']+' --moverange '
            +theRange+'|0';
            ;

        const roll = await startRoll(theAPICall);
        finishRoll(roll.rollId);
    };
    k.registerFuncs({doSpellRange});    

+scss('sheet').
    .spells-main{

        .spells-roller-head,
        .spells-roller {
            width: 26px;
        }
        .spells-name-head,
        .spells-name{
            width: 140px;
        }
        .spells-level-head,
        .spells-level{
            width: 30px;
        }
        .spells-magictype-head,
        .spells-magictype{
            width: 100px;
        }
        .spells-subskill-head,
        .spells-subskill{
            width: 125px;
        }
        .spells-actiontype-head,
        .spells-actiontype{
            width: 60px;
        }
        .spells-cost-head,
        .spells-cost{
            width: 40px;
        }
        .spells-costtype-head,
        .spells-costtype{
            width: 60px;
        }
        .spells-range-head,
        .spells-range{
            width: 45px;
            text-align: center;
        }
        .spells-vs-head,
        .spells-vs{
            width: 45px;
            text-align: center;
        }
        .spells-effect-head,
        .spells-effect{
            width: 70px;
            text-align: center;
        }
        .spells-amount-head,
        .spells-amount{
            width: 50px;
            text-align: center;
        }
        .spells-amounttype-head,
        .spells-amounttype{
            width: 60px;
            text-align: center;
        }
        .spells-numtargets-head,
        .spells-numtargets {
            width: 50px;
        }
        .spells-showrange {
            @include k.base-button;
            background-color: lightblue;
            width: 80px;
            text-align: center;
        }

        .spells-roller-head,
        .spells-name-head,
        .spells-level-head,
        .spells-magictype-head,
        .spells-subskill-head,
        .spells-actiontype-head,
        .spells-cost-head,
        .spells-costtype-head,
        .spells-range-head,
        .spells-vs-head,
        .spells-effect-head,
        .spells-amount-head,
        .spells-amounttype-head,
        .spells-numtargets-head {
            text-align: center;
            background-color: lightblue;
            font-weight: bold;
        }

        .div-spells-details {
            display: grid;
            grid-template-columns: repeat(auto,4);;
            grid-template-areas : 
                'duration durationamount durationtype conditiontype'
                'radius radiustype damagetype damageclass'
                'accbonus damagebonus damagebonus .'
                'critabove critbonus critdamagebonus .'
                'desc-head desc-head desc-head desc-head'
                'desc desc desc desc'
                'spelleffect-head spelleffect-head spelleffect-head spelleffect-head'
                'spelleffect spelleffect spelleffect spelleffect'
                'effects-section effects-section effects-section effects-section'
                'powercard-head powercard-head powercard-head powercard-head'
                'powercard powercard powercard powercard'
            ;
            border: 1px solid var(--borderColor);

            .div-duration {
                grid-area: duration;
                width: 65px;
                text-align: center;
                .spells-duration-head {
                    background-color: gainsboro;
                }
                .spells-duration{
                    width:100%;
                    text-align: center;
                }
            }
            .div-durationamount {
                grid-area: durationamount;
                width: 65px;
                text-align: center;
                .spells-durationamount-head {
                    background-color: gainsboro;
                }
                .spells-durationamount{
                    width:100%;
                    text-align: center;
                }
            }
            .div-durationtype {
                grid-area: durationtype;
                width: 65px;
                text-align: center;
                .spells-durationtype-head {
                    background-color: gainsboro;
                }
                .spells-durationtype{
                    width:100%;
                    text-align: center;
                }
            }
            .div-conditiontype {
                grid-area: conditiontype;
                width: 75px;
                text-align: center;
                .spells-conditiontype-head {
                    background-color: gainsboro;
                }
                .spells-conditiontype{
                    width:100%;
                    text-align: center;
                }
            }
            .div-radius {
                grid-area: radius;
                width: 65px;
                text-align: center;
                .spells-radius-head {
                    background-color: gainsboro;
                }
                .spells-radius{
                    width:100%;
                    text-align: center;
                }
            }
            .div-radiustype {
                grid-area: radiustype;
                width: 65px;
                text-align: center;
                .spells-radiustype-head {
                    background-color: gainsboro;
                }
                .spells-radiustype{
                    width:100%;
                    text-align: center;
                }
            }
            .div-accbonus {
                grid-area: accbonus;
                width: 65px;
                text-align: center;
                .spells-accbonus-head {
                    background-color: gainsboro;
                }
                .spells-accbonus{
                    width:100%;
                    text-align: center;
                }
            }
            .div-damagebonus {
                grid-area: damagebonus;
                width: 65px;
                text-align: center;
                .spells-damagebonus-head {
                    background-color: gainsboro;
                }
                .spells-damagebonus{
                    width:100%;
                    text-align: center;
                }
            }
            .div-critabove {
                grid-area: critabove;
                width: 65px;
                text-align: center;
                .spells-critabove-head {
                    background-color: gainsboro;
                }
                .spells-critabove{
                    width:100%;
                    text-align: center;
                }
            }
            .div-critbonus {
                grid-area: critbonus;
                width: 65px;
                text-align: center;
                .spells-critbonus-head {
                    background-color: gainsboro;
                }
                .spells-critbonus{
                    width:100%;
                    text-align: center;
                }
            }
            .div-critdamagebonus {
                grid-area: critdamagebonus;
                width: 65px;
                text-align: center;
                .spells-critdamagebonus-head {
                    background-color: gainsboro;
                }
                .spells-critdamagebonus{
                    width:100%;
                    text-align: center;
                }
            }
            .div-damagetype {
                grid-area: damagetype;
                width: 90px;
                text-align: center;
                .spells-damagetype-head {
                    background-color: gainsboro;
                }
                .spells-damagetype{
                    width:100%;
                    text-align: center;
                }
            }
            .div-damageclass {
                grid-area: damageclass;
                width: 90px;
                text-align: center;
                .spells-damageclass-head {
                    background-color: gainsboro;
                }
                .spells-damageclass{
                    width:100%;
                    text-align: center;
                }
            }

            .div-desc {
                grid-area: desc-head;
                .spells-desc-head {
                    background-color: lightgray;
                }
                .spells-desc {
                }
            }
            .div-spelleffect {
                grid-area: spelleffect;
                .spells-spelleffect-head {
                    grid-area: spelleffect-head;
                    background-color: lightgray;
                }
                .spells-spelleffect {
                }
            }
            .spells-effects-section {
                grid-area: effects-section;

                .spells-effects-head {
                    background-color: lightgray;
                    width: 60px;
                }
                .spells-effects-apply {
                    @include k.base-button;
                    background-color: lightblue;
                    width: 60px;
                    text-align: center;
                }
                .spells-effects-remove {
                    @include k.base-button;
                    background-color: lightblue;
                    width: 60px;
                    text-align:center;
                }
                .spells-effects-applied {
                    width: 70px;
                    text-align: center;
                }
                .spells-effects {
                    grid-area: effects;
                }
            }
            .div-powercard {
                grid-area: powercard;
                .spells-powercard-head {
                    grid-area: powercard-head;
                    background-color: lightgray;
                }
                .spells-powercard {
                }
            }
        }
    } 
