+tab({name:"inventory-accessory", container:"article", button:{class:'inventory-main-tabs-button boxed','data-i18n':"Accessory"}})
    .inventory-accessory-section
        .div-item-header.div-inline
            +span({}).item-head-addbuttongap
            +span({'data-i18n':'Name'}).item-head-itemname.underlined
            +span({'data-i18n':'Slot'}).item-head-slot.underlined
            +span({'data-i18n':'Qty'}).item-head-qty.underlined
        .div-inven-items.div-inline
            +customControlFieldset({name:'inventory-accessory-items',addClass:'',trigger:{affects:['inventory-totweight'],triggeredFuncs:['doAccessoryRemove']}})
                +text({name:'itemname',class:'item_itemname underlined',value:''})
                +select({name:'slot',class:'item_slot underlined'})
                    +option({value:'slotAccessoryNeck','data-i18n':'Neck'})
                    +option({value:'slotAccessoryEarLeft','data-i18n':'Ear Left'})
                    +option({value:'slotAccessoryEarRight','data-i18n':'Ear Right'})
                    +option({value:'slotAccessoryWristLeft','data-i18n':'Wrist Left'})
                    +option({value:'slotAccessoryWristRight','data-i18n':'Wrist Right'})
                    +option({value:'slotAccessoryWaist','data-i18n':'Waist'})
                    +option({value:'slotAccessoryAnkleLeft','data-i18n':'Ankle Left'})
                    +option({value:'slotAccessoryAnkleRight','data-i18n':'Ankle Right'})
                    +option({value:'slotAccessoryRing1','data-i18n':'Ring-1'})
                    +option({value:'slotAccessoryRing2','data-i18n':'Ring-2'})
                    +option({value:'slotAccessoryRing3','data-i18n':'Ring-3'})
                    +option({value:'slotAccessoryRing4','data-i18n':'Ring-4'})
                    +option({value:'slotAccessoryRing5','data-i18n':'Ring-5'})
                    +option({value:'slotAccessoryRing6','data-i18n':'Ring-6'})
                    +option({value:'slotAccessoryRing7','data-i18n':'Ring-7'})
                    +option({value:'slotAccessoryRing8','data-i18n':'Ring-8'})
                +number({name:'qty',class:'item_qty boxed',value:1})
                +button({name:'unequip-accessory-button',type:'action','data-i18n':'Unequip',class:'staging-button',trigger:{triggeredFuncs:['doAccessoryUnequip']}})
                +text({name:'trashcan-padding',class:'item_padding',readonly:''})
                +text({name:'slottype',class:'underlined hidden',readonly:''})
                +collapseItemDetails('inventory-totweight')
+module.
    const doAccessoryRemove = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        attributes['inventory-totweight'] = calcTotWeightInventory({trigger,attributes,sections,casc});
    };
    k.registerFuncs({doAccessoryRemove});

    const doAccessoryUnequip = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const fromSectionID = sectionName+'_'+rowID;

        const toSection = 'repeating_inventory-stagingarea-items';
        const toSectionID = k.generateRowID(toSection,sections);

        doSectionCopy(attributes,sections,fromSectionID,toSectionID);

        k.removeRepeatingRow(fromSectionID,attributes,sections);

        checkStagingAreaCollapse(attributes,sections);
    };
    k.registerFuncs({doAccessoryUnequip});

+scss('sheet').
    .inventory-accessory-section{
        display: flex;
        flex-wrap: wrap;
        align-items: top;
        gap: var(--tiny-gap);
        width: 460px;
        .div-item-header{
            .item-head-addbuttongap{
                width: 23px;
            }
            .item-head-itemname{
                margin-right: 3px;
                width: 120px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slottype{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slot{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-qty{
                margin-right: 3px;
                width: 40px;
                text-align: center;
                background-color: lightskyblue;
            }
        }
        .div-inven-items{
            .staging-button{
                @include k.base-button;
            }
            .item_padding{
                width: 10px;
            }
            .item_itemname{
                width: 120px;
            }       
            .item_slottype{
                width: 90px;
            }       
            .item_slot{
                width: 90px;
            }       
            .item_qty{
                width: 40px;
            }       
        }
    }
