+tab({name:"inventory-beltpouch", container:"article", button:{class:'inventory-main-tabs-button boxed','data-i18n':"Belt/Pouch"}})
    .inventory-beltpouch-section
        .div-item-header.div-inline
            +span({}).item-head-addbuttongap
            +span({'data-i18n':'Name'}).item-head-itemname.underlined
            +span({'data-i18n':'Item Type'}).item-head-slottype.underlined
            +span({'data-i18n':'Qty'}).item-head-qty.underlined
            +span({'data-i18n':'Slot'}).item-head-slot.underlined
        .div-inven-items.div-inline
            +customControlFieldset({name:'inventory-beltpouch-items',addClass:'',trigger:{affects:['inventory-totweight'],triggeredFuncs:['doRemoveItem']}})
                +text({name:'itemname',class:'item_itemname underlined',value:''})
                +select({name:'slottypeitem',class:'item_slottype underlined'})
                    +option({value:'slottypeArmor','data-i18n':'Armor'})
                    +option({value:'slottypeWeapon','data-i18n':'Weapon'})
                    +option({value:'slottypeAccessory','data-i18n':'Accessory'})
                    +option({value:'slottypeAmmo','data-i18n':'Ammo'})
                    +option({value:'slottypeBeltPouch','data-i18n':'Belt/Pouch'})
                    +option({value:'slottypeStorage','data-i18n':'Storage'})
                    +option({value:'slottypeDiscardPile','data-i18n':'Discard Pile'})
                +number({name:'qty',class:'item_qty boxed',value:1})
                +select({name:'slot',class:'item_slot underlined'})
                    +option({value:'slotBeltPouchBelt','data-i18n':'Belt'})
                    +option({value:'slotBeltPouchPouch1','data-i18n':'Pouch 1'})
                    +option({value:'slotBeltPouchPouch2','data-i18n':'Pouch 2'})
                +button({name:'unequip-beltpouch-button',type:'action','data-i18n':'Unequip',class:'staging-button',trigger:{triggeredFuncs:['doUnequipItem']}})
                +text({name:'trashcan-padding',class:'item_padding',readonly:''})
                +text({name:'slottype',class:'underlined hidden',readonly:''})
                +collapseItemDetails('inventory-totweight')
+module.
+scss('sheet').
    .inventory-beltpouch-section{
        display: flex;
        flex-wrap: wrap;
        align-items: top;
        gap: var(--tiny-gap);
        width: 460px;
        .div-item-header{
            .item-head-addbuttongap{
                width: 23px;
            }
            .item-head-itemname{
                margin-right: 3px;
                width: 120px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slottype{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slot{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-qty{
                margin-right: 3px;
                width: 40px;
                text-align: center;
                background-color: lightskyblue;
            }
        }
        .div-inven-items{
            .staging-button{
                @include k.base-button;
            }
            .item_padding{
                width: 10px;
            }
            .item_itemname{
                width: 120px;
            }       
            .item_slottype{
                width: 90px;
            }       
            .item_slot{
                width: 90px;
            }       
            .item_qty{
                width: 40px;
            }       
        }
    }
