.inventory-skinny-section
    .div-item-header.div-inline
        +span({}).item-head-addbuttongap
        +span({'data-i18n':'Name'}).item-head-itemname.underlined
        +span({'data-i18n':'Item Type'}).item-head-slottype.underlined
        +span({'data-i18n':'Qty'}).item-head-qty.underlined
    .div-inven-items.div-inline
        +customControlFieldset({name:'market-buying-items',addClass:''})
            +text({name:'itemname',class:'item_itemname underlined',value:''})
            +select({name:'slottypeitem',class:'item_slottype underlined'})
                +option({value:'slottypeArmor','data-i18n':'Armor'})
                +option({value:'slottypeWeapon','data-i18n':'Weapon'})
                +option({value:'slottypeAccessory','data-i18n':'Accessory'})
                +option({value:'slottypeAmmo','data-i18n':'Ammo'})
            +number({name:'qty',class:'item_qty boxed',value:1})
            +button({name:'market-buying-button',type:'action','data-i18n':'Remove',class:'marketloot-button',trigger:{triggeredFuncs:['doMarketBuying']}})
            +text({name:'trashcan-padding',class:'item_padding',readonly:''})
            +collapseItemDetails('market-totweight')
+module.
    const doMarketBuying = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const fromSectionID = sectionName+'_'+rowID;
        const toSectionID = k.generateRowID('repeating_market-market-items',sections);

        doSectionCopy(attributes,sections,fromSectionID,toSectionID);
        attributes[toSectionID+'_slottype'] = attributes[toSectionID+'_slottypeitem']
        doSectionDelete(attributes,sections,fromSectionID);
    };
    k.registerFuncs({doMarketBuying});
+scss('sheet').
    .inventory-skinny-section{
        display: flex;
        flex-wrap: wrap;
        align-items: top;
        gap: var(--tiny-gap);
        width: 480px;
        .div-item-header{
            .item-head-addbuttongap{
                width: 23px;
            }
            .item-head-itemname{
                margin-right: 3px;
                width: 120px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slottype{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-slot{
                margin-right: 3px;
                width: 90px;
                text-align: center;
                background-color: lightskyblue;
            }
            .item-head-qty{
                margin-right: 3px;
                width: 40px;
                text-align: center;
                background-color: lightskyblue;
            }
        }
        .div-inven-items{
            .staging-button{
                @include k.base-button;
            }
            .item_padding{
                width: 10px;
            }
            .item_itemname{
                width: 120px;
            }       
            .item_slottype{
                width: 90px;
            }       
            .item_slot{
                width: 90px;
            }       
            .item_qty{
                width: 40px;
            }       
        }
    }
