+tab({name:'battle', container:'article', button:{class:'thelandrpg-tabs-button boxed','data-i18n':'Battle'}})
    .battle-main
        +span({'data-i18n':'BATTLE(CRUSH YOUR ENEMIES)'}).battle-title.paper-background
        +tabs({name:'battle-crushthem',defaultActiveTab:'battle-spells',persistent:true})
            +tab({name:'battle-spells',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Spells'}})
                +tabs({name:'spells-books',defaultActiveTab:'spells-book1',persistent:true})
                    +spells-books('book1')
                    +spells-books('book2')
                    +spells-books('book3')
                    +spells-books('book4')
                    +spells-books('book5')
                    +spells-books('book6')
                    +spells-books('book7')
                    +spells-books('book8')
                    +spells-books('book9')
                    +spells-books('book10')
                    +spells-books('buffs')
            +tab({name:'battle-attacks',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Attacks'}})
                +tabs({name:'attacks-attacks',defaultActiveTab:'attacks-attacks1',persistent:true})
                    +attacks-attacks('attacks1')
                    +attacks-attacks('attacks2')
                    +attacks-attacks('attacks3')
                    +attacks-attacks('attacks4')
                    +attacks-attacks('attacks5')
+module.
+scss('sheet').
    .battle-main{
        .repitem:hover > .collapse, .repitem:hover .roll-container,
        .collapse-container:hover > .collapse,
        .collapse-container:hover .roll-container {
            opacity: 1;
        }
        .repitem > .collapse,
        .collapse-container > .collapse {
            opacity:  1;
            position: absolute;
            left: -10px;
            top: 0px;
            pointer-events: auto;
        }
        
        display: grid;
        grid-gap: var(--tiny-gap);
        font: {size: 12px;family: Arial;weight: normal;};
        width: 1100px;

        grid-template-columns: auto;
        grid-template-areas:
            'title'
            'buttons'
        ;

        .battle-title{
            grid-area: title;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }

        .battle-spells {
            grid-area: buttons;
        }
        .battle-attacks {
            grid-area: buttons;
        }
    }
