+tab({name:'battle', container:'article', button:{class:'thelandrpg-tabs-button boxed','data-i18n':'Battle'}})
    .battle-main
        +span({'data-i18n':'TO BATTLE - CRUSH YOUR ENEMIES'}).battle-title.paper-background
        +tabs({name:'battle-crushthem',defaultActiveTab:'battle-spells',persistent:true})
            +tab({name:'battle-spells',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Spells'}})
                .battle-spells
                    .battle-spells-section.paper-background
                        +span({'data-i18n':'Spells/Techniques'}).battle-spells-subtitle
                        include _battle-spells.pug
            //+tab({name:'battle-techs',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Techniques'}})
            //    .battle-techs
            //        .battle-techs-section.paper-background
            //            +span({'data-i18n':'Techniques'}).battle-techs-subtitle
            //            include _battle-techs.pug
            +tab({name:'battle-attacks',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Attacks'}})
                .battle-attacks
                    .battle-attacks-section.paper-background
                        +span({'data-i18n':'Attacks'}).battle-attacks-subtitle
                        include _battle-attacks.pug
+module.
+scss('sheet').
    .battle-main{
        .repitem:hover > .collapse, .repitem:hover .roll-container,
        .collapse-container:hover > .collapse,
        .collapse-container:hover .roll-container {
            opacity: 1;
        }
        .repitem > .collapse,
        .collapse-container > .collapse {
            opacity:  1;
            position: absolute;
            left: -10px;
            top: 0px;
            pointer-events: auto;
        }
        
        display: grid;
        grid-gap: var(--tiny-gap);
        font: {size: 12px;family: Arial;weight: normal;};
        width: 1200px;

        grid-template-columns: auto;
        grid-template-areas:
            'title'
            'buttons'
        ;

        .battle-title{
            grid-area: title;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }

        .battle-spells {
            grid-area: buttons;

            .battle-spells-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'spells'
                ;

                .battle-spells-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .spells-main {
                    grid-area: spells;
                }
            }
        }
        .battle-techs {
            grid-area: buttons;

            .battle-techs-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'techs'
                ;

                .battle-techs-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .techs-main {
                    grid-area: techs;
                }
            }
        }
        .battle-attacks {
            grid-area: buttons;

            .battle-attacks-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'attacks'
                ;

                .battle-attacks-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .attack-main {
                    grid-area: attacks;
                }
            }
        }
    }
