+tab({name:'battle', container:'article', button:{class:'thelandrpg-tabs-button boxed','data-i18n':'Battle',trigger:{triggeredFuncs:['doTabBattle']}}})
    .thelandrpg-tabs-section-battle
+module.
    const doTabBattle = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const oldTriggerName = trigger.name;

        let newTrigger = trigger;
        newTrigger.name = 'act_nav-tabs-thelandrpg--effects';
        k.callFunc('kSwitchTab',{trigger,attributes});
        //can't do sub-tabs without more research
        //newTrigger.name = 'act_nav-tabs-inventory-main--inventory-accessory';
        //k.callFunc('kSwitchTab',{trigger,attributes});

        trigger.name = oldTriggerName;
    };
    k.registerFuncs({doTabBattle});
+scss('sheet').
    .thelandrpg-tabs-section-battle{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--tiny-gap);
    }
