+tab({name:"intro", container:"article", button:{class:'thelandrpg-tabs-button boxed','data-i18n':"Intro"}})
    .thelandrpg-tabs-section-intro
+scss('sheet').
    .thelandrpg-tabs-section-intro{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--tiny-gap);
    }
