+tab({name:"inventory", container:"article", button:{class:'thelandrpg-tabs-button boxed','data-i18n':"Inventory"}})
    .inventory-main
        +span({'data-i18n':'INVENTORY'}).head-title.paper-background
        .div-tots
            .div-tots-section.paper-background.div-inline
                .div-numitems.div-inline
                    +span({'data-i18n':'# Items:'}).numitems-label
                    +number({name:'inventory-numitems',class:'boxed',value:0,readonly:'',trigger:{}}).numitems-input
                .div
                .div-totalweight.div-inline
                    +span({'data-i18n':'Total Weight:'}).totweight-label
                    +number({name:'inventory-totweight',class:'boxed',value:0,readonly:'',trigger:{calculation:'calcTotWeightInventory'}}).totweight-input
                .div
                .div-maxweight.div-inline
                    +span({'data-i18n':'Max Weight:'}).maxweight-label
                    +number({name:'inventory-maxweight',class:'boxed',value:0,readonly:'',trigger:{formula:'@{stat-total} * 10'}}).maxweight-input
                .div
                .div-coinweight.div-inline
                    +span({'data-i18n':'Coin Weight:'}).coinweight-label
                    +number({name:'inventory-coinweight',class:'boxed',value:0,readonly:'',trigger:{affects:['inventory-totweight'],formula:'((@{inventory-coin-pp}*0.4)+(@{inventory-coin-gp}*0.3)+(@{inventory-coin-sp}*0.2)+(@{inventory-coin-cp}*0.1))'}}).coinweight-input
                .div-pp.div-inline
                    +span({'data-i18n':'pp:'}).coin-label
                    +number({name:'inventory-coin-pp',class:'coin-pp boxed',value:0,trigger:{affects:['inventory-coinweight']}})
                .div
                .div-gp.div-inline
                    +span({'data-i18n':'gp:'}).coin-label
                    +number({name:'inventory-coin-gp',class:'coin-gp boxed',value:0,trigger:{affects:['inventory-coinweight']}})
                .div
                .div-sp.div-inline
                    +span({'data-i18n':'sp:'}).coin-label
                    +number({name:'inventory-coin-sp',class:'coin-sp boxed',value:0,trigger:{affects:['inventory-coinweight']}})
                .div
                .div-cp.div-inline
                    +span({'data-i18n':'cp:'}).coin-label
                    +number({name:'inventory-coin-cp',class:'coin-cp boxed',value:0,trigger:{affects:['inventory-coinweight']}})
        .inventory-main-tabs.paper-background
            +tabs({name:'inventory-main',defaultActiveTab:'inventory-equipped',persistent:false})
                +tab({name:"inventory-equipped", container:"article", button:{class:'inventory-main-tabs-button boxed','data-i18n':"Equipped"}})
                    +tabs({name:'inventory-equipped-tabs',defaultActiveTab:'inventory-armor',persistent:false})
                        +inventory-items('armor',0)
                        +inventory-items('weapon',0)
                        +inventory-items('accessory',0)
                        +inventory-items('ammo',1)
                        +inventory-items('beltpouch',1)
                +tab({name:"inventory-storage1", container:"article", button:{class:'inventory-main-tabs-button boxed','data-i18n':"Storage"}})
                    +tabs({name:'inventory-storage-tabs',defaultActiveTab:'inventory-storage',persistent:false})
                        +inventory-items('storage',1)
                        +inventory-items('discardpile',1)
+module.
    const calcTotWeightInventory = ({trigger,attributes,sections,casc}) => {
        //const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);
        //-const [attrName,sheetName] = parseButtonName2(buttonName);
        //console.log('calcTotWeightInventory');

        let totItemWeight = 0;
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeArmor'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeWeapon'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeAccessory'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeAmmo'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeBeltPouch'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeStorage'));
        totItemWeight += calcSectionWeight(attributes,sections,getSlotTypeSection('slottypeDiscardPile'));

        let totWeight = 0;
        totWeight = calcCoinWeight(
            attributes['inventory-coin-pp'],
            attributes['inventory-coin-gp'],
            attributes['inventory-coin-sp'],
            attributes['inventory-coin-cp']
        ) + totItemWeight;
        totWeight = Number.parseFloat(totWeight).toFixed(2);

        let totItems = 0;
        totItems += sections[getSlotTypeSection('slottypeArmor')].length;
        totItems += sections[getSlotTypeSection('slottypeWeapon')].length;
        totItems += sections[getSlotTypeSection('slottypeAccessory')].length;
        totItems += sections[getSlotTypeSection('slottypeAmmo')].length;
        totItems += sections[getSlotTypeSection('slottypeBeltPouch')].length;
        totItems += sections[getSlotTypeSection('slottypeStorage')].length;
        totItems += sections[getSlotTypeSection('slottypeDiscardPile')].length;

        attributes['inventory-numitems'] = totItems;

        return totWeight;
    };
    k.registerFuncs({calcTotWeightInventory});

+scss('sheet').
    .inventory-main{
        .repitem:hover > .collapse, .repitem:hover .roll-container,
        .collapse-container:hover > .collapse,
        .collapse-container:hover .roll-container {
            opacity: 1;
        }
        .repitem > .collapse,
        .collapse-container > .collapse {
            opacity: 1;
            position: absolute;
            left: -10px;
            top: 0px;
        }
        display: grid;
        grid-gap: var(--tiny-gap);
        font: {size: 12px;family: Arial;weight: normal;};

        grid-template-columns: auto auto auto;
        grid-template-areas:
            'title title title'
            'tots tots tots'
            'staging slottype slot'
            'tabs tabs tabs'
        ;

        .inventory-main-tabs{
            grid-area: tabs;
            .inventory-main-tabs-button {
                @include k.base-button;
                background-color: lightblue;
                font-size: 10px;
            }
        }            
        .head-title{
            grid-area: title;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }
        .inventory-main-stagingarea {
            grid-area: staging;
            text-align: center;
            width: 476px;
            .staging-title {
                width: 100%;
                font-size: 18px;
            }
        }
        .div-slottype {
            grid-area: slottype;
            width: 100px;
            .slottype-button {
                @include k.text-button;
                background-color: lightblue;
                width: 70px;
                margin-right: 5px;
                margin-top: 5px;
            }
            .slottype-rowid {
                width: 90px;
                margin-right: 5px;
                margin-top: 5px;
            }
        }
        .div-slot {
            grid-area: slot;
            text-align: center;
            width: 476px;
            .slot-title {
                width: 100%;
                font-size: 18px;
            }
        }
        .div-tots{
            grid-area: tots;
            text-align: center;
            width: 1100px;
            .div-numitems{
                text-align: center;
                .numitems-label{
                    margin-right: 3px;
                    margin-top: 5px;
                    width: 50px;
                    text-align: right;
                }
                .numitems-input{
                    margin-right: 5px;
                }
            }
            .div-totalweight {
                text-align: center;
                .totweight-label{
                    margin-right: 3px;
                    margin-top: 5px;
                    width: 70px;
                    text-align: right;
                }
                .totweight-input{
                    margin-right: 5px;
                }
            }
            .div-maxweight {
                text-align: center;
                .maxweight-label{
                    margin-right: 3px;
                    margin-top: 5px;
                    width: 70px;
                    text-align: right;
                }
                .maxweight-input{
                    margin-right: 5px;
                }
            }
            .div-coinweight {
                text-align: center;
                .coinweight-label{
                    margin-right: 3px;
                    margin-top: 5px;
                    width: 70px;
                    text-align: right;
                }
                .coinweight-input{
                    margin-right: 5px;
                }
            }
            .div-pp{
                text-align: center;
                .coin-pp{
                }
            }
            .div-gp{
                text-align: center;
                .coin-gp{
                }
            }
            .div-sp{
                text-align: center;
                .coin-sp{
                }
            }
            .div-cp{
                text-align: center;
                .coin-cp{
                }
            }
            .coin-label{
                margin-right: 3px;
                margin-top: 5px;
                width: 30px;
                text-align: center;
            }
        }
    }