+tab({name:'logs', container:'article', button:{class:'thelandrpg-tabs-button boxed','data-i18n':'Logs'}})
    .logs-main
        +span({'data-i18n':'LOGS'}).logs-title.paper-background
        +tabs({name:'logs-logs',defaultActiveTab:'logs-adventure',persistent:true})
            +tab({name:'logs-adventure',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Adventure'}})
                .logs-adventure
                    .logs-adventure-section.paper-background
                        +span({'data-i18n':'Adventure'}).logs-adventure-subtitle
                        .logs-adventure-head
                            +customControlFieldset({name:'adventure-main-items',addClass:'',trigger:{addFuncs:['doAddEntry']}})
                                .logs-adventure-main
                                    +text({name:'adventure-entry',class:'adventure-entry underlined'})
                                    +adaptiveTextarea({name:'adventure-note',class:'adventure-note boxed'})
                                    +text({name:'adventure-xp-label',readonly:'',value:'XP: ',class:'adventure-xp-label'})
                                    +text({name:'adventure-xp',class:'adventure-xp boxed'})
                                    +text({name:'adventure-downtime-label',readonly:'',value:'Downtime: ',class:'adventure-downtime-label'})
                                    +text({name:'adventure-downtime',class:'adventure-downtime boxed'})
                                    +text({name:'adventure-skillpoints-label',readonly:'',value:'Skill Points: ',class:'adventure-skillpoints-label'})
                                    +text({name:'adventure-skillpoints',class:'adventure-skillpoints boxed'})
                                    +text({name:'adventure-statpoints-label',readonly:'',value:'Stat Points: ',class:'adventure-statpoints-label'})
                                    +text({name:'adventure-statpoints',class:'adventure-statpoints boxed'})
            +tab({name:'logs-notes',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'Notes'}})
                .logs-notes
                    .logs-notes-section.paper-background
                        +span({'data-i18n':'Notes'}).logs-notes-subtitle
                        +customControlFieldset({name:'notes-main-items',addClass:''})
                            .logs-notes-main
                                +adaptiveTextarea({name:'notes-note',class:'notes-note boxed'})
            +tab({name:'logs-general',containter:'article',button:{class:'thelandrpg-subtab-button','data-i18n':'General'}})
                .logs-general
                    .logs-general-section.paper-background
                        +span({'data-i18n':'General'}).logs-general-subtitle
                        +customControlFieldset({name:'general-main-items',addClass:''})
                            .logs-general-main
                                +adaptiveTextarea({name:'general-note',class:'general-note boxed'})

+module.
    const doAddEntry = ({trigger,attributes,sections,casc}) => {
        const [sectionName,rowID,buttonName] = k.parseTriggerName(trigger.name);

        const theCount = sections[buttonName].length;
        if (theCount>0) {
            const theRowID = sections[buttonName][theCount-1];
            const theSectionID = buttonName+'_'+theRowID+'_adventure-entry';
            const theText = 'Adventure #'+theCount;
            attributes[theSectionID] = theText;
        };
    };
    k.registerFuncs({doAddEntry});
+scss('sheet').
    .logs-main{
        .repitem:hover > .collapse, .repitem:hover .roll-container,
        .collapse-container:hover > .collapse,
        .collapse-container:hover .roll-container {
            opacity: 1;
        }
        .repitem > .collapse,
        .collapse-container > .collapse {
            opacity:  1;
            position: absolute;
            left: -10px;
            top: 0px;
            pointer-events: auto;
        }
        
        display: grid;
        grid-gap: var(--tiny-gap);
        font: {size: 12px;family: Arial;weight: normal;};
        width: 1100px;

        grid-template-columns: auto;
        grid-template-areas:
            'title'
            'buttons'
        ;

        .logs-title{
            grid-area: title;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }

        .logs-general {
            grid-area: buttons;

            .logs-general-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'general'
                ;

                .logs-general-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .logs-general-main {
                    grid-area: general;
                }
            }
        }
        .logs-notes {
            grid-area: buttons;

            .logs-notes-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'notes'
                ;

                .logs-notes-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .notes-main {
                    grid-area: notes;
                }
            }
        }
        .logs-adventure {
            grid-area: buttons;

            .logs-adventure-section {
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: 
                    'title'
                    'adventure'
                ;

                .logs-adventure-subtitle{
                    grid-area: title;
                    font-size: 16px;
                    text-align: center;
                    font-weight: bold;
                }
                .logs-adventure-head {
                    .logs-adventure-main {
                        .adventure-entry {
                            width: 240px;
                            text-align: center;                        
                        }
                        .adventure-xp {
                            width: 60px;
                            text-align: center;                        
                        }
                        .adventure-downtime {
                            width: 60px;
                            text-align: center;                        
                        }
                        .adventure-skillpoints {
                            width: 60px;
                            text-align: center;                        
                        }
                        .adventure-statpoints {
                            width: 60px;
                            text-align: center;                        
                        }

                        .adventure-xp-label,
                        .adventure-skillpoints-label,
                        .adventure-statpoints-label,
                        .adventure-downtime-label {
                            text-align: center;
                            background-color: lightblue;
                            font-weight: bold;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
