+tab({name:"personaltime", container:"article", button:{class:'thelandrpg-tabs-button boxed','data-i18n':"Personal Time"}})
    .thelandrpg-tabs-section-personaltime
+scss('sheet').
    .thelandrpg-tabs-section-personaltime{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--tiny-gap);
    }
