+tab({name:"risetopower", container:"article", button:{class:'thelandrpg-tabs-button boxed','data-i18n':"Rise To Power"}})
    .thelandrpg-tabs-section-risetopower
+scss('sheet').
    .thelandrpg-tabs-section-risetopower{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--tiny-gap);
    }
