.div-inline
    +span({'data-i18n':'Skill'}).row-skill-roller.row-skill-header
    +span({'data-i18n':''}).row-skill-rarity.row-skill-header
    +span({'data-i18n':'Total'}).row-skill-total.row-skill-header
    +span({'data-i18n':'Rank'}).row-skill-rank.row-skill-header
    +span({'data-i18n':'Equip Bonus'}).row-skill-equipbonus.row-skill-header
    +span({'data-i18n':'Buff Bonus'}).row-skill-buffbonus.row-skill-header
    +span({'data-i18n':'Misc Bonus'}).row-skill-miscbonus.row-skill-header
    +span({'data-i18n':'Parent Bonus'}).row-skill-parentbonus.row-skill-header
    +span({'data-i18n':'Stat Bonus'}).row-skill-statbonus.row-skill-header
    +span({'data-i18n':'Stat'}).row-skill-stat.row-skill-header
    +span({'data-i18n':'Affinity'}).row-skill-affinity.row-skill-header
    +span({'data-i18n':'Max Rank'}).row-skill-maxrank.row-skill-header
    +span({'data-i18n':'Rank Title'}).row-skill-ranktitle.row-skill-header
    +span({'data-i18n':'Next Title'}).row-skill-nexttitle.row-skill-header
    +span({'data-i18n':''}).column-help.row-skill-header
