+tab({name:"skills-everyday", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Everyday"}})
    +rowSkillType(idEveryday)
+tab({name:"skills-tradeskill", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Tradeskill"}})
    +rowSkillType(idTradeskill)
+tab({name:"skills-armorweapon", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Armor/Weapon"}})
    +rowSkillType(idArmorWeapon)
+tab({name:"skills-martial", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Martial"}})
    +rowSkillType(idMartial)
+tab({name:"skills-magic", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Magic"}})
    +rowSkillType(idMagic)
//+tab({name:"skills-metamagic", container:"section", button:{class:"thelandrpg-subtab-button",'data-i18n':"Metamagic"}})
//    +rowSkillType(idMetaMagic)
+module.
+scss('sheet').
