mixin collapseItemDetails(iTotWeightFunc)
    .collapse-container
        +collapse('details-collapse')
        +span({'data-i18n':'Show Item Details'})
        .expanded
        .collapsed
            .div-item-details
                .div-weight
                    +number({name:'weight',class:'item_weight boxed',value:0,trigger:{affects:[iTotWeightFunc]}})
                    +span({'data-i18n':'Weight'}).item-head-weight
                .div-cost
                    +number({name:'cost',class:'item_cost boxed',value:0})
                    +span({'data-i18n':'Cost'}).item-head-cost
                .div-size
                    +select({name:'size',class:'item_size underlined'})
                        +option({value:'sizeNA','data-i18n':'N/A'})
                        +option({value:'sizeTiny','data-i18n':'Tiny'})
                        +option({value:'sizeSmall','data-i18n':'Small'})
                        +option({value:'sizeMedium','data-i18n':'Medium'})
                        +option({value:'sizeLarge','data-i18n':'Large'})
                        +option({value:'sizeHuge','data-i18n':'Huge'})
                        +option({value:'sizeGigantic','data-i18n':'Gigantic'})
                    +span({'data-i18n':'Size'}).item-head-size
                .div-armorvalue
                    +number({name:'armorvalue',class:'item-armorvalue boxed',value:0,trigger:{triggeredFuncs:['doLockDown']}})
                    +span({'data-i18n':'Armor Value'}).item-head-armorvalue
                .div-armortype
                    +select({name:'armortype',class:'item-armortype underlined'})
                        +option({value:'armorNA','data-i18n':'N/A'})
                        +option({value:'armorLight','data-i18n':'Light'})
                        +option({value:'armorMedium','data-i18n':'Medium'})
                        +option({value:'armorHeavy','data-i18n':'Heavy'})
                    +span({'data-i18n':'Armor Type'}).item-head-armortype
                .div-movepen
                    +number({name:'movepen',class:'item-movepen boxed',value:0,trigger:{triggeredFuncs:['doLockDown']}})
                    +span({'data-i18n':'Move Penalty'}).item-head-movepen
                .div-accmod
                    +number({name:'accmod',class:'item_accmod boxed',value:0})
                    +span({'data-i18n':'Acc Mod'}).item-head-accmod
                .div-dammod
                    +number({name:'dammod',class:'item_dammod boxed',value:0})
                    +span({'data-i18n':'Dam Mod'}).item-head-dammod
                .div-basedam
                    +text({name:'basedam',class:'item-basedam underlined',value:''})
                    +span({'data-i18n':'Base Dam'}).item-head-basedam
                .div-range
                    +number({name:'range',class:'item-range underlined',value:0})
                    +span({'data-i18n':'Range'}).item-head-range
                .div-critabove
                    +number({name:'critabove',class:'item_critabove boxed',value:0})
                    +span({'data-i18n':'Crit Above'}).item-head-critabove
                .div-critaccmod
                    +text({name:'critaccmod',class:'item_critaccmod boxed',value:0})
                    +span({'data-i18n':'Crit Acc Mod'}).item-head-critaccmod
                .div-critdammod
                    +text({name:'critdammod',class:'item_critdammod boxed',value:0})
                    +span({'data-i18n':'Crit Dam Mod'}).item-head-critdammod
                .div-ammotype
                    +select({name:'ammotype',class:'item-ammotype underlined'})
                        +option({value:'ammoNone','data-i18n':'N/A'})
                        +option({value:'ammoArrow','data-i18n':'Arrow'})
                        +option({value:'ammoBolt','data-i18n':'Bolt'})
                        +option({value:'ammoThrown','data-i18n':'Thrown'})
                    +span({'data-i18n':'Ammo Type'}).item-head-ammotype
                .div-removeqty
                    +number({name:'removeqty',class:'item-removeqty boxed',value:0})
                    +span({'data-i18n':'Remove Qty'}).item-head-removeqty
                .div-recoverperc
                    +number({name:'recoverperc',class:'item-recoverperc boxed',value:0})
                    +span({'data-i18n':'Recover %'}).item-head-recoverperc
                .div-notes
                    +span({'data-i18n':'Notes'}).item-head-notes
                    +adaptiveTextarea({name:'notes',class:'boxed'})
                .div-effects
                    +span({'data-i18n':'Effects'}).item-head-effects
                    +adaptiveTextarea({name:'effects',class:'boxed',spellcheck:'false',trigger:{triggeredFuncs:['doLockDown']}})
                .div-weapontype
                    +select({name:'weapontype',class:'item-weapontype underlined'})
                        +option({value:'na','data-i18n':'N/A'})
                        +option({value:'archery','data-i18n':'Archery'})
                        +option({value:'axes','data-i18n':'Axes'})
                        +option({value:'crossbows','data-i18n':'Crossbows'})
                        +option({value:'hammers','data-i18n':'Hammers'})
                        +option({value:'maces','data-i18n':'Maces'})
                        +option({value:'smallblades','data-i18n':'Small Blades'})
                        +option({value:'spears','data-i18n':'Spears'})
                        +option({value:'staves','data-i18n':'Staves'})
                        +option({value:'swords','data-i18n':'Swords'})
                        +option({value:'shieldbash','data-i18n':'Shield Bash'})
                        +option({value:'unarmedcombat','data-i18n':'Unarmed Combat'})
                    +span({'data-i18n':'Weapon Type'}).item-head-weapontype
+module.
+scss('sheet').
    .div-item-details {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas : 
            'weight1 cost size1'
            'armortype armorvalue movepen '
            'weapontype range .'
            'basedam accmod dammod'
            'critabove critaccmod critdammod'
            'ammotype removeqty recoverperc'
            'notes notes notes'
            'effects effects effects'
        ;
        border: 1px solid var(--borderColor);
        .div-category {
            grid-area: category;
            width: 100px;
            text-align: center;
            .item-head-category{
                background-color: gainsboro;
            }
            .item_category{
                width: 100%;
                text-align:center;
            }       
        }
        .div-weight {
            grid-area: weight1;
            width: 100px;
            text-align: center;
            .item-head-weight{
                width: 100%;
                background-color: gainsboro;
            }
            .item_weight{
                width: 100%;
            }       
        }
        .div-cost {
            grid-area: cost;
            width: 100px;
            text-align: center;
            .item-head-cost{
                width: 100%;
                background-color: gainsboro;
            }
            .item_cost{
                width: 100%;
            }      
        }
        .div-size {
            grid-area: size1;
            width: 100px;
            text-align: center;
            .item-head-size{
                width: 100%;
                background-color: gainsboro;
            }
            .item_size{
                width: 100%;
            }       
        }
        .div-armorvalue{
            grid-area: armorvalue;
            width: 100px;
            text-align: center;
            .item-head-armorvalue {
                width: 100%;
                background-color: gainsboro;
            }
            .item-armorvalue {
                width: 100%;
            }
        }
        .div-armortype {
            grid-area: armortype;
            width: 100px;
            text-align: center;
            .item-head-armortype {
                width: 100%;
                background-color: gainsboro;
            }
            .item-armortype {
                width: 100%;
            }
        }
        .div-movepen {
            grid-area: movepen;
            width: 100px;
            text-align: center;
            .item-head-movepen {
                width: 100%;
                background-color: gainsboro;
            }
            .item-movepen {
                width: 100%;
            }
        }
        .div-attackvs {
            grid-area: attackvs;
            width: 100px;
            text-align: center;
            .item-head-attackvs {
                width: 100%;
                background-color: gainsboro;
            }
            .item-attackvs {
                width: 100%;
            }
        }
        .div-accmod {
            grid-area: accmod;
            width: 100px;
            text-align: center;
            .item-head-accmod {
                width: 100%;
                background-color: gainsboro;
            }
            .item_accmod {
                width: 100%;
            }
        }
        .div-dammod {
            grid-area: dammod;
            width: 100px;
            text-align: center;
            .item-head-dammod {
                width: 100%;
                background-color: gainsboro;
            }
            .item_dammod {
                width: 100%;
            }
        }
        .div-basedam {
            grid-area: basedam;
            width: 100px;
            text-align: center;
            .item-head-basedam {
                width: 100%;
                background-color: gainsboro;
            }
            .item-basedam {
                width: 100%;
                text-align:center;
            }
        }
        .div-attacktype {
            grid-area: attacktype;
            width: 100px;
            text-align: center;
            .item-head-attacktype {
                width: 100%;
                background-color: gainsboro;
            }
            .item-attacktype {
                width: 100%;
            }
        }
        .div-range {
            grid-area: range;
            width: 100px;
            text-align: center;
            .item-head-range {
                width: 100%;
                background-color: gainsboro;
            }
            .item-range {
                width: 100%;
            }
        }
        .div-critabove {
            grid-area: critabove;
            width: 100px;
            text-align: center;
            .item-head-critabove {
                width: 100%;
                background-color: gainsboro;
            }
            .item_critabove {
                width: 100%;
            }
        }
        .div-critaccmod {
            grid-area: critaccmod;
            width: 100px;
            text-align: center;
            .item-head-critaccmod {
                width: 100%;
                background-color: gainsboro;
            }
            .item_critaccmod {
                width: 100%;
            }
        }
        .div-critdammod {
            grid-area: critdammod;
            width: 100px;
            text-align: center;
            .item-head-critdammod {
                width: 100%;
                background-color: gainsboro;
            }
            .item_critdammod {
                width: 100%;
            }
        }
        .div-ammotype {
            grid-area: ammotype;
            width: 100px;
            text-align: center;
            .item-head-ammotype {
                width: 100%;
                background-color: gainsboro;
            }
            .item-ammotype {
                width: 100%;
            }
        }
        .div-removeqty {
            grid-area: removeqty;
            width: 100px;
            text-align: center;
            .item-head-removeqty {
                width: 100%;
                background-color: gainsboro;
            }
            .item-removeqty {
                width: 100%;
            }
        }
        .div-recoverperc {
            grid-area: recoverperc;
            width: 100px;
            text-align: center;
            .item-head-recoverperc {
                width: 100%;
                background-color: gainsboro;
            }
            .item-recoverperc {
                width: 100%;
            }
        }
        .div-slottypeitem {
            grid-area: slottypeitem;
            width: 100px;
            text-align: center;
            .item-head-slottypeitem {
                width: 100%;
                background-color: gainsboro;
            }
            .item-slottypeitem {
                width: 100%;
            }
        }
        .div-notes {
            grid-area: notes;
            background-color: gainsboro;
            .item-head-notes {
                width: 100%;
                background-color: gainsboro;
            }
        }
        .div-effects {
            grid-area: effects;
            background-color: gainsboro;
            .item-head-effects {
                width: 100%;
                background-color: gainsboro;
            }
        }
        .div-weapontype {
            grid-area: weapontype;
            width: 100px;
            text-align: center;
            .item-head-weapontype {
                width: 100%;
                background-color: gainsboro;
            }
            .item-weapontype {
                width: 100%;
            }
        }
    }
